<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<title>测试页面</title>
</head>
<body>
<script type="text/javascript">
function loadXMLDoc()
{
  var xmlhttp;
  if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
    }
  else
    {// code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    xmlhttp.onreadystatechange=function()
      {
      if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
        document.getElementById("myDiv").innerHTML=document.getElementById("myDiv").innerHTML+xmlhttp.responseText;
        //$("#myDiv").append(xmlhttp.responseText);
        }
      }
    xmlhttp.open("GET","/test?Id=101",true);
    xmlhttp.send();
  alert("Ajax!");
}
</script>
<div id="myDiv"></div>
<div>
  <button type="button" class="btn" onclick="loadXMLDoc()">更 多 内 容</button>
</div>
</body>
</html>